body {
  background-image: url("/assets/background.jpg");
  background-size: auto;
  background-repeat: no-repeat
}

/*#addTask {
  background-color: #4a4d51;
}*/

h1 {
  font-family: 'Nunito Sans', sans-serif;
  text-align: center;
  color: white;
}

#inputLabel{
  font-family: 'Nunito Sans', sans-serif;
  color: white;
}

#addTask {
  text-align: center;

}

table {
    font-family: 'Nunito Sans', sans-serif;
    border-collapse: collapse;
    width: 100%;
    color: white;
}

td, th {
    /*border: 1px solid #dddddd;*/
    text-align: center;
    padding: 8px;
}

/*tr:nth-child(even) {
    background-color: #dddddd;
}*/

.complete {
  text-decoration: line-through;
  background-color: none;
  color: #10346d;
}
